<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/neon-core.css">
    <link rel="stylesheet" href="/css/neon-theme.css">
    <link rel="stylesheet" href="/css/neon-forms.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <% if (typeof styles != "undefined") { %>
    <% for (i = 0; i < styles.length; i++) { %>
    <link rel="stylesheet" href="/<%- styles[i] %>">
    <% } %>
    <% } %>
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script>$.noConflict();</script>

    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="page-body <% if (typeof classpage != "undefined" && typeof classpage[0] != "undefined") { %><%- classpage[0] %><% } %>">

    <div class="page-container <% if (typeof classpage != "undefined" && typeof classpage[1] != "undefined") { %><%- classpage[1] %><% } %>">
      
      <%- include includes/navigation.ejs %>

      <div class="main-content">
        <!-- Header Info -->
        <%- include includes/header.ejs %>
        <hr />
        <%- body %>
        <!-- Footer -->
        <%- include includes/footer.ejs %>
      </div>

    </div>
    <!--SCRIPTS-->
    <script src="/js/socket.io-1.2.1.js"></script>
    <script src="/js/gsap/main-gsap.js"></script>
    <script src="/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/joinable.js"></script>
    <script src="/js/resizeable.js"></script>
    <script src="/js/neon-api.js"></script>
    <script src="/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <!--SCRIPTS END-->
    <% if (typeof scripts != "undefined") { %>
    <% for (i = 0; i < scripts.length; i++) { %>
    <script src="/<%- scripts[i] %>" type="application/javascript"></script>
    <% } %>
    <% } %>

    <!-- JavaScripts initializations and stuff -->
    <script src="/js/neon-custom.js"></script>
    <!-- Demo Settings -->
    <script src="/js/neon-demo.js"></script>
  </body>
</html>
